@charset "utf-8";


/* TRANSFORMS AND ROTATE */
.rotate-45 {
    -webkit-transform: rotate(-45deg);
  	-moz-transform: rotate(-45deg);
  	-o-transform: rotate(-45deg);
  	-ms-transform: rotate(-45deg);
    transform: rotate(45deg);
}
.rotate-95 {
    -webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
  	-o-transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.rotate-180 {
    -webkit-transform: rotate(180deg);
  	-moz-transform: rotate(180deg);
  	-o-transform: rotate(180deg);
  	-ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate-270 {
    -webkit-transform: rotate(270deg);
  	-moz-transform: rotate(270deg);
  	-o-transform: rotate(270deg);
  	-ms-transform: rotate(270deg);
    transform: rotate(45deg);
}
.rotate-360 {
    -webkit-transform: rotate(360deg);
  	-moz-transform: rotate(360deg);
  	-o-transform: rotate(360deg);
  	-ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* ALIGNS */
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-justify {
    text-align: justify;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    hyphens: manual;
}
.align-vertical {
    vertical-align: middle;
}

/* OPACITY */
.alpha-100 {
  	opacity: 1;
  	filter: alpha(opacity=100);
}
.alpha-75 {
  	opacity: 0.75;
  	filter: alpha(opacity=75);
}
.alpha-50 {
  	opacity: 0.5;
  	filter: alpha(opacity=50);
}
.alpha-25 {
  	opacity: 0.25;
  	filter: alpha(opacity=25);
}
.alpha-0 {
  	opacity: 0.0;
  	filter: alpha(opacity=0);
}


/* COLOURS TEXTS */
.text-primary {
    color: rgb(255, 255, 255);
}
.text-secondary {
    color: rgba(255, 255, 255, 0.7);
}
.text-accent {
    color: rgb(46, 179, 152);
}
.text-accent2 {
    color: rgb(255, 64, 129);
}

.text-primary-invert {
    color: rgb(49, 64, 71);
}
.text-secondary-invert {
    color: rgba(255, 255, 255, 0.7);
}

/* FONTS AND TEXT APPEARANCES */
.font-appearance-light {
  	font-family: 'Roboto Light';
  	/*color: rgb(223, 224, 230);*/
}
.font-appearance-regular {
    font-family: 'Roboto Regular';
    /*color: rgb(223, 224, 230);*/
}
.font-appearance-medium {
    font-family: 'Roboto Medium';
    /*color: rgb(223, 224, 230);*/
}
.font-appearance-bold {
  	font-family: 'Roboto Bold';
  	/*color: rgb(223, 224, 230);*/
}
.font-appearance-logo {
    font-family: 'Roboto Bold';
    letter-spacing: 1px;
    color: #FFFFFF;
    text-shadow: transparent 2px 2px 0px, rgba(0, 0, 0, 0.14902) 4px 4px 0px;
}

.font-size-xlarge {
  	font-size: 250%;
  	font-weight: 100;
}
.font-size-large {
  	font-size: 150%;
  	font-weight: 100;
}
.font-size-normal {
  	font-size: 100%;
  	font-weight: 100;
}
.font-size-small {
  	font-size: 90%;
  	font-weight: 100;
}

/* CONTAINERS AND COLUMS*/
.viewport {
    width: 100%;
    height: 100vh;
}
.full-height {
    width: 100%;
    height: 100%;
}
.full-width {
    width: 100%;
    height: auto;
}


.section {
    padding: 3 rem 1,5rem;
}
.container {
    position: relative;
    margin: 0 auto;
}
}
.content {
    position: relative;
    margin: 0 auto;
}

.columns {
    position: relative;
    display: block;
}

.columns > .column-2 {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    padding: .75rem;
}
.columns > .column-3 {
    position: relative;
    display: block;
    float: left;
    width: 33.33%;
    padding: .75rem;
}
.columns > .column-4 {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    padding: .75rem;
}
.columns > .column-5 {
    position: relative;
    display: block;
    float: left;
    width: 20%;
    padding: .75rem;
}
.columns > .column-6 {
    position: relative;
    display: block;
    float: left;
    width: 16.66%;
    padding: .75rem;
}

/*Responsive Helper*/
.columns > .column-2.is-container {
    width: 50%;
}
.columns > .column-3.is-container {
    width: 33.33%;
}
.columns > .column-4.is-container {
    width: 25%;
}
.columns > .column-5.is-container {
    width: 20%;
}
.columns > .column-6.is-container {
    width: 16.66%;
}
.columns > .column-2.is-item {
    width: 50%;
}
.columns > .column-3.is-item {
    width: 33.33%;
}
.columns > .column-4.is-item {
    width: 25%;
}
.columns > .column-5.is-item {
    width: 20%;
}
.columns > .column-6.is-item {
    width: 16.66%;
}
.columns > .column-2.is-widget {
    width: 50%;
}
.columns > .column-3.is-widget {
    width: 33.33%;
}
.columns > .column-4.is-widget {
    width: 25%;
}
.columns > .column-5.is-widget {
    width: 20%;
}
.columns > .column-6.is-widget {
    width: 16.66%;
}

.columns > .offset-40 {
    width: 40%;
}
.columns > .offset-60 {
    width: 60%;
}

/* MARGENES LATERALES */
.padding-layout-square-large {
    padding: 4rem 4rem 4rem 4rem;
}
.padding-layout-square-normal {
    padding: 2rem 2rem 2rem 2rem;
}
.padding-layout-square-small {
    padding: 1rem 1rem 1rem 1rem;
}

.padding-layout-vertical-large {
    padding: 4rem 0 4rem 0;
}
.padding-layout-vertical-normal {
    padding: 2rem 0 2rem 0;
}
.padding-layout-vertical-small {
    padding: 1rem 0 1rem 0;
}
.padding-layout-horizontal-large {
    padding: 0 4rem 0 4rem;
}
.padding-layout-horizontal-normal {
    padding: 0 2rem 0 2rem;
}
.padding-layout-horizontal-small {
    padding: 0 1rem 0 1rem;
}

/* MARGENES Y ESPACIADO EN TEXTOS */
.title {
    padding-bottom: 1rem;
}
.subtitle {
    padding-bottom: .5rem;
}
.content-actions {
    margin: 1.5rem auto 1rem auto;
}

/* IMAGES */
.img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;

    text-align: center;
    margin: auto;
}
.img-background {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-background-parallax {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img-circle {
    border: 2px solid #1C1C1F;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-size: cover;
    background-position: center;
}
.img-rounded {
    border: 2px solid #1C1C1F;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-size: cover;
    background-position: center;
}
.img-square {
    border: 2px solid #1C1C1F;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-size: cover;
    background-position: center;
}

/* SHADOWS AND ELEVATIONS */
.elevation-shadow-large {
  	box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 24px;
}
.elevation-shadow-normal {
  	box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 16px;
}
.elevation-shadow-small {
  	box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 8px;
}

.elevation-index-7 {
  	z-index: 700;
}
.elevation-index-6 {
  	z-index: 600;
}
.elevation-index-5 {
  	z-index: 500;
}
.elevation-index-4 {
  	z-index: 400;
}
.elevation-index-3 {
 	z-index: 300;
}
.elevation-index-2 {
  	z-index: 200;
}
.elevation-index-1 {
  	z-index: 100;
}
.elevation-index-0 {
  	z-index: 0;
}


/* HELPER CLASSES */
.unselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.blur-xlarge {
    filter: blur(40px);
}
.blur-large {
    filter: blur(30px);
}
.blur-normal {
    filter: blur(10px);
}
.blur-small {
    filter: blur(5px);
}
.gray {
    -webkit-filter: grayscale();
    -moz-filter: grayscale();
    -o-filter: grayscale();
    -ms-filter: grayscale();
    filter: grayscale();
}

.center-vertical {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    flex-flow: row wrap;
}
.center-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.clearfix {
    clear: both;
}
.pull-left {
    float: left;
    left: 0;
}
.pull-right {
    float: right;
    right: 0;
}

.show {
    display: block !important;
}
.hide {
    display: none !important;
}


/* UTILS CLASSES FOR SCRIPT */
.show-dim-screen {
    display: block !important;
    opacity: 0.75 !important;
    filter: alpha(opacity=75) !important;
}
.show-dim-screen-transparent {
  	display: block !important;
  	opacity: 0 !important;
  	filter: alpha(opacity=0) !important;
}
.show-drawer {
  	left: 0 !important;
}
.collapse-page {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0rem;
    height: 85vh;
    margin-left: 17rem;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.6) -4px 0px 16px;
}
    .collapse-page .toolbar .toolbar-menu a span[class^='icon-'] {
        display: inline-block;
        margin-right: 0;
    }
    .collapse-page .toolbar .toolbar-menu a span:not([class*='icon']) {
        display: none;
    }
    .collapse-page .toolbar .active {
        color: var(--accent-color) !important;
        border-bottom: 3px solid var(--accent-color) !important;
    }
    .collapse-page .container-main {
        position: relative;
        height: var(--container-main-collapse-height);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .collapse-page .container-main .banner {
        height: var(--container-main-collapse-height);
    }
    .collapse-page #fab-go-top {
        position: absolute;
        bottom: -3rem;
    }
.show-fab {
  	bottom: 1rem !important;
}

.toolbar-absolute {
    position: absolute !important; /*Conciderado porque no redimensiona la toolbar en tamaño reducido*/
}
.toolbar-fixed {
  	position: fixed !important; /*Posiciona en fixed al estar en expanded*/
}
.inset-top {
  	margin-top: 56px !important; /*Tamaño del toolbar*/
}


/* CONTAINERS AND BOXS */
.box-container-dev {
    padding: 1rem;
    text-align: center;
}
  	.box-dev {
    	position: relative;
    	background-color: #1C1C1F;
    	min-width: 1rem;
    	min-height: auto;
    	box-sizing: border-box;
    	display: block;
    	overflow: hidden;
    	cursor: default;
    	box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 16px;
    	transition: all 0.2s;
  	}
    	.dev-banner {
      		width: 100%;
      		height: 10rem;
      		background-size: cover;
            background-position: center;
    	}
    	.dev-perfil {
      		position: absolute;
      		display: inline;
      		margin-top: 7rem;
            margin-left: -3rem;
      		width: 6rem;
      		height: 6rem;
    	}
    	.dev-info {
      		position: relative;
      		width: 100%;
      		height: auto;
      		padding: 1rem 1.5rem 0rem 1.5rem;
      		margin-top: 2rem;
    	}
      		.dev-title {
        		display: block;
        		padding-bottom: .75rem;
        		text-align: center;
      		}
      		.dev-description {
        		padding-bottom: .5rem;
      		}
            .dev-btn {
                margin: 1rem auto 1.5rem auto !important;
            }
      		.dev-social {
        		position: relative;
                top: 0;
                right: 0;
                left: 0;
        		width: 100%;
        		min-height: 56px;
                margin: .5rem auto .5rem auto;
      		}
      			.dev-social a {
                    display: inline-block;
          			line-height: 56px;
          			color: rgba(255,255,255, 0.3);
      			}
      			.dev-social a:hover {
          			background: rgba(255,255,255, 0.07);
          			color: #2eb398;
      			}


/* SLOGAN DEVELOPER SITE */
address.slogan-developer-site {
    font-style: normal;
    color: rgba(255,255,255, .3);
}
    address.slogan-developer-site a {
        color: rgba(255,255,255, .3);
    }
    address.slogan-developer-site a:hover {
        color: #FF4081;
        text-decoration: underline;
    }